/* ==UserStyle==
@name         Nextcloud Dark
@description  A dark theme for the web interface of Nextcloud
@namespace    github.com/maxigaz/nextcloud-dark
@author       maxigaz
@homepageURL  https://github.com/maxigaz/nextcloud-dark
@updateURL    https://raw.githubusercontent.com/maxigaz/nextcloud-dark/master/nextcloud-dark.user.css
@version      0.2.0
==/UserStyle== */

@-moz-document domain("cloud.disroot.org") {
	/* ====== General ====== */

	body {
		background-color: #303239;
		color: #bebebe;
	}

	#body-user #header, #body-settings #header, #body-public #header {
		background-color: #2e2f36;
	}

	#app-navigation {
		background-color: #303239;
		border-color: #000;
		color: #bebebe;
	}

	#app-navigation > ul > li > a, #app-navigation > ul > li > ul > li > a {
		color: white;
	}

	select, button, .button, input[type="button"], input[type="submit"], input[type="reset"] {
		background-color: #42444e;
		border-color: #242424;
		color: #c6c6c6;
	}

	.today:focus {
		background-color: #4e505c !important;
	}

select:not(:disabled):not(.primary):hover, button:not(:disabled):not(.primary):hover, .button:not(:disabled):not(.primary):hover, input:not([type="range"]):not(:disabled):not(.primary):hover, textarea:not(:disabled):not(.primary):hover, div[contenteditable="true"]:not(:disabled):not(.primary):hover, .pager li a:not(:disabled):not(.primary):hover, select:not(:disabled):not(.primary):focus, button:not(:disabled):not(.primary):focus, .button:not(:disabled):not(.primary):focus, input:not([type="range"]):not(:disabled):not(.primary):focus, textarea:not(:disabled):not(.primary):focus, div[contenteditable="true"]:not(:disabled):not(.primary):focus, .pager li a:not(:disabled):not(.primary):focus, select:not(:disabled):not(.primary).active, button:not(:disabled):not(.primary).active, .button:not(:disabled):not(.primary).active, input:not([type="range"]):not(:disabled):not(.primary).active, textarea:not(:disabled):not(.primary).active, div[contenteditable="true"]:not(:disabled):not(.primary).active, .pager li a:not(:disabled):not(.primary).active {
		border-color: #2c8bff;
	}

	select:not(:disabled):not(.primary):active, button:not(:disabled):not(.primary):active, .button:not(:disabled):not(.primary):active, input:not([type="range"]):not(:disabled):not(.primary):active, textarea:not(:disabled):not(.primary):active, div[contenteditable="true"]:not(:disabled):not(.primary):active, .pager li a:not(:disabled):not(.primary):active, select:not(:disabled):not(.primary):focus, button:not(:disabled):not(.primary):focus, .button:not(:disabled):not(.primary):focus, input:not([type="range"]):not(:disabled):not(.primary):focus, textarea:not(:disabled):not(.primary):focus, div[contenteditable="true"]:not(:disabled):not(.primary):focus, .pager li a:not(:disabled):not(.primary):focus, select:not(:disabled):not(.primary).active, button:not(:disabled):not(.primary).active, .button:not(:disabled):not(.primary).active, input:not([type="range"]):not(:disabled):not(.primary).active, textarea:not(:disabled):not(.primary).active, div[contenteditable="true"]:not(:disabled):not(.primary).active, .pager li a:not(:disabled):not(.primary).active {
		background-color: #4e505c;
	}

	#app-navigation .togglebuttons .button.active {
		background-color: #2e66ff;
	}

	#app-navigation > ul > li:focus, #app-navigation > ul > li:hover, #app-navigation > ul > li.active, #app-navigation > ul > li a.selected, #app-navigation > ul > li:focus > a, #app-navigation > ul > li:hover > a, #app-navigation > ul > li.active > a, #app-navigation > ul > li a.selected > a {
		box-shadow: inset 2px 0 #1e5faf;
	}

	#app-navigation .app-navigation-entry-utils .app-navigation-entry-utils-menu-button button:not([class^="icon-"]):not([class*=" icon-"]) {
		filter: invert(100%);
	}

	.icon-public {
		filter: invert(70%);
	}

	.settings-button {
		background-color: #303239;
		color: white;
	}

	.settings-button.opened, .settings-button:hover {
		background-color: #303239;
		box-shadow: inset 2px 0 #1e5faf;
	}

	#app-settings-header {
		background-color: #303239;
		border-color: #000;
	}

	/* ====== Log in page ====== */

	input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
		background-color: #42444e;
		color: #ffffff;
	}

	input[type="text"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="email"]:focus {
		border-color: #2c8bff;
		/* color: #ffffff; */
	}

	/* ====== Calendar ====== */

	.fc-unthemed tr td {
		border-top-color: #111;
	}

	.fc-unthemed tr:nth-child(2n) td {
		border-top-color: #111;
	}

	.fc-unthemed td.fc-today {
		background-color: #313010 !important;
	}

	.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
		border-color: #222;
	}

	.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td {
		background-color: #222;
	}

	#fullcalendar td.fc-day.fc-sat, #fullcalendar td.fc-day.fc-sun {
		background-color: #262a39;
	}

	.fc-day {
		border-color: #4c4c4c;
	}

	.datepicker-heading button {
		filter: invert(90%);
	}

	.datepicker-heading .ng-binding {
		color: #060606;
	}

	#datepicker table tbody button.active {
		background-color: #2e66ff;
	}

	/* Add event */

	.modal-open .modal.popover, .modal-open .modal.import {
		background-color: #303239;
		box-shadow: 0 0 3px rgba(17, 17, 17, 0.95);
	}

	select.primary, button.primary, .button.primary, input:not([type="range"]).primary, textarea.primary, div[contenteditable="true"].primary, .pager li a.primary {
		background-color: #2e66ff;
		border-color: #1c1c1c;
	}

	select.primary:not(:disabled):hover, button.primary:not(:disabled):hover, .button.primary:not(:disabled):hover, input:not([type="range"]).primary:not(:disabled):hover, textarea.primary:not(:disabled):hover, div[contenteditable="true"].primary:not(:disabled):hover, .pager li a.primary:not(:disabled):hover, select.primary:not(:disabled):focus, button.primary:not(:disabled):focus, .button.primary:not(:disabled):focus, input:not([type="range"]).primary:not(:disabled):focus, textarea.primary:not(:disabled):focus, div[contenteditable="true"].primary:not(:disabled):focus, .pager li a.primary:not(:disabled):focus {
		background-color: #2f71ff;
	}

	select, button, .button, input:not([type="range"]), textarea, div[contenteditable="true"], .pager li a {
		background-color: #42444e;
		border-color: #1c1c1c;
		color: white;
	}

	input[type="checkbox"].radio:not(:disabled):not(:checked) + label:hover::before, input[type="radio"].radio:not(:disabled):not(:checked) + label:hover::before, input[type="checkbox"].checkbox:not(:disabled):not(:checked) + label:hover::before, input[type="radio"].checkbox:not(:disabled):not(:checked) + label:hover::before, input[type="checkbox"].radio:focus + label::before, input[type="radio"].radio:focus + label::before, input[type="checkbox"].checkbox:focus + label::before, input[type="radio"].checkbox:focus + label::before {
		border-color: #2e66ff;
	}

	input[type="checkbox"].radio:checked + label::before, input[type="radio"].radio:checked + label::before, input[type="checkbox"].checkbox:checked + label::before, input[type="radio"].checkbox:checked + label::before, input[type="checkbox"].radio.checkbox:indeterminate + label::before, input[type="radio"].radio.checkbox:indeterminate + label::before, input[type="checkbox"].checkbox.checkbox:indeterminate + label::before, input[type="radio"].checkbox.checkbox:indeterminate + label::before {
		background-color: #2e66ff;
		border-color: #2e66ff;
	}

	textarea:not(:disabled):active, div[contenteditable="true"]:not(:disabled):active, textarea:not(:disabled):hover, div[contenteditable="true"]:not(:disabled):hover, textarea:not(:disabled):focus, div[contenteditable="true"]:not(:disabled):focus {
		background-color: #42444e !important;
		border-color: #1c1c1c !important;
		color: white;
	}

	.header-left #navigation, .ui-datepicker, .ui-timepicker.ui-widget {
		background-color: #303239;
		filter: drop-shadow(0 1px 10px rgba(17, 17, 17, 0.95));
	}

	.ui-widget.ui-datepicker .ui-datepicker-calendar th {
		color: #e4e4e4;
	}

	.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-week-end:not(.ui-state-disabled) :not(.ui-state-hover), .ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-priority-secondary:not(.ui-state-hover) {
		color: #e4e4e4;
	}

	.ui-widget.ui-datepicker .ui-datepicker-calendar tr td > *, .ui-widget.ui-timepicker table.ui-timepicker tr td > * {
		color: white;
	}

	.ui-widget.ui-datepicker .ui-widget-header {
		background-color: #303239;
		color: white;
	}

	.ui-widget-header a {
		background-color: #303239;
	}

	.ui-widget-header a:hover {
		background-color: #303239;
		border-color: #5d5d5d;
	}

	.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
		filter: invert(100%);
	}

	.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
		filter: invert(100%);
	}

	.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a:not(.ui-state-hover) {
		background-color: #464a54;
	}

	.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a.ui-state-active, .ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-state-hover, .ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-state-focus {
		background-color: #2e66ff;
	}

	.ui-widget-content {
		background-color: #303239;
	}

	.ui-widget.ui-timepicker .ui-widget-header {
		background-color: #303239;
		color: white;
	}

	.ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-hour-cell a.ui-state-active, .ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-minute-cell a.ui-state-active, .ui-widget.ui-timepicker .ui-timepicker-table td .ui-state-hover, .ui-widget.ui-timepicker .ui-timepicker-table td .ui-state-focus {
		background-color: #2e66ff;
	}

	.ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-hours {
		border-color: #212121;
	}


}
